SQL COMMANDS FOR SUPABASE:
ALTER TABLE programming ADD COLUMN IF NOT EXISTS observations TEXT;
ALTER TABLE production ADD COLUMN IF NOT EXISTS observations TEXT;
ALTER TABLE history ADD COLUMN IF NOT EXISTS observations TEXT;

-- Ejecutar también: db/daily_planning_context.sql
